*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    background-position: center;
    background-size: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 145px;
    color: lightgoldenrodyellow;
    font-weight: 650;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    padding: 14px 70px;
    margin-top: 20px;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600px;
}
button:hover{
    background:rgba(0,192,226);
    transition:0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/09){
    .banner video{
        width: 100%;
        height:auto;
    }
}